<h1 class="text-4xl font-bold mb-4 text-blue-400">Log in</h1>

<div class="w-[30rem] mx-auto bg-gray-800 p-8 rounded shadow">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "shared/forms/form_field", f: f, field: :email, resource: resource do %>
      <%= f.email_field :email, class: "w-full px-3 py-2 rounded bg-gray-800 text-gray-100 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <% end %>

    <%= render "shared/forms/form_field", f: f, field: :password, resource: resource do %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-3 py-2 rounded bg-gray-800 text-gray-100 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <% end %>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= render "shared/forms/form_submit", f:, label: 'Log In' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
